<section
  class="cart-container"
  [class.dark]="isDarkMode"
  [class.light]="!isDarkMode"
  #container
>
  <h2>Cart</h2>
  <section
    class="item-cart"
    *ngFor="let item of items; let i = index"
    [attr.data-index]="i"
  >
    <div class="img-container"></div>
    <h3>{{ item.name }}</h3>
    <button class="btn btn-remove" (click)="removeItem(item, i)">-</button>
  </section>
  <button *ngIf="items.length !== 0" (click)="emptyCart()" class="btn btn-pay">
    Pay
  </button>
  <span *ngIf="items.length === 0" class="msg-empty-cart"
    >Your cart is empty.</span
  >
</section>
